PORT=3000
AWS_REGION=us-east-1
COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
TABLE_TEAMS=Teams
TABLE_PROJECTS=Projects
TABLE_TASKS=Tasks
TABLE_COMMENTS=Comments
TABLE_ACTIVITY_LOG=ActivityLog
TABLE_USERS=Users
S3_BUCKET_ORIGINALS=
S3_BUCKET_RESIZED=
SNS_TOPIC_ARN=
